@media screen and (min-width: 320px) and (max-width: 768px) {
    header .burger {
        right: 0;
        display: none;
    }
    header .burger span{
        width: 25px;
        height: 4px;
        /* transform: translate(-50%, -50%); */
        background: #fff;
        display: inline-block;
        position: absolute;
        right: 0;
    }
    header .burger span::before,
    header .burger span::after {
        content: "";
        width: 25px;
        height: 4px;
        position: absolute;
        background: #fff;
    }
    header .burger span::before {
        top: -8px;
    }
    header .burger span::after {
        top: 8px;
    }
    .header-active {
        padding-bottom: 380px;
    }
    .list-active {
        position: absolute;
        right: 0;
        top: 70px;
        width: 200%;
        margin-left: -10%;
        font-size: 32px;
    }
    .list-active li:not(:last-child) {
        margin-bottom: 20px;
    }
    header .burger-active span {
        transform: rotate(45deg);
        transition: .4s;
    }
    header .burger-active span::before {
        display: none;
    }
    header .burger-active span::after {
        transform: rotate(-90deg);
        top: 0;
        
    }
    
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    header {
        padding: 15px 0;
    }
    header ul, footer .contacts-bottom-text {
        font-size: 16px;
    }
    #about-me .about-me-text, #skills .skill {
        font-size: 18px;
    }
    
    footer .socials {
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 10px 0;
    }
    h2 {
        font-size: 32px;
    }
    header #logo, 
    #main .name {
        font-size: 36px;
    }
    header ul, 
    header .swith-language a {
        font-size: 12px;
    }
    #main {
        padding: 120px 0 70px 0;
    }
    #main .profession-text {
        font-size: 18px;
    }
    #main .info-text {
        font-size: 16px;
    }
    #about-me, 
    #skills, 
    #portfolio, 
    footer {
        padding: 70px 0 90px 0;
    }
    #about-me .about-me-text {
        font-size: 18px;
    }
    #skills .skill {
        font-size: 16px;
    }
    #skills .skill svg {
        width: 50px;
    }
    footer .contacts-btn, 
    footer .contacts-bottom-title, 
    footer .contacts-bottom-text {
        font-size: 16px;
    }
    footer .socials {
        flex-basis: 20%;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    header {
        padding: 10px 0 10px;
    }
    header nav ul {
        display: none;
    }
    .swith-language {
        position: absolute;
        left: 225px;
        padding-top: 10px;
    }
    header .burger {
        display: block;
    }
    header .avtive-list {
        display: block;
    }
    header .list-active {
        display: block;
    }
    #main {
        padding: 130px 0 90px 0;
    }
    #main .mz-photo {
        width: 45%;
    }
    #main .name {
        font-size: 32px;
        margin-bottom: 20px;
    }
    #main .info-text {
        margin-top: 10px;
    }
    #main .profession-text, #main .info-text {
        font-size: 14px;
    }
    #about-me, #skills, #portfolio {
        padding: 90px 0 90px 0;
    }
    h2 {
        font-size: 30px;
    }
    #about-me .about-me-text {
        font-size: 16px;
        width: 90%;
    }
    #skills .skill {
        font-size: 12px;
        /* margin-bottom: 20px; */
    }
    #skills .skill-icon svg {
        width: 36px;
    }
    #portfolio .project-text {
        font-size: 16px;
    }
    #portfolio .project {
        width: 100%;
        padding-top: 65%;
    }
    #portfolio .project:not(:last-child) {
        margin-bottom: 40px;
    }
    footer .contacts-title {
        margin-bottom: 35px;
    }
    footer .contacts-text {
        font-size: 16px;
        margin-bottom: 45px;
    }
    footer .contacts-btn {
        font-size: 16px;
    }
    footer .contacts-bottom-title {
        font-size: 16px;
        margin-bottom: 2px;
    }
    footer .contacts-bottom-text {
        font-size: 14px;
    }
    footer .social-icon svg {
        width: 35px;
    }
    footer .socials {
        display: block;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    header #logo {
        font-size: 25px;
    }
    header ul {
        display: none;
    }
    .swith-language {
        position: absolute;
        left: 140px;
        padding-top: 5px;
    }
    header .burger {
        display: block;
    }
    header .avtive-list {
        display: block;
    }
    header .list-active {
        display: block;
    }
    .list-active {
        top: 60px;
        font-size: 26px;
    }
    #main {
        padding: 100px 0 40px 0;
    }
    #main .container {
        flex-direction: column;
    }
    #main .mz-photo {
        width: 60%;
        margin-bottom: 30px;
    }
    #main .person-info {
        text-align: center;
        width: 70%;
    }
    #main .name {
        font-size: 22px;
        margin-bottom: 20px;
    }
    #main .profession-text {
        font-size: 14px;
    }
    #main .info-text {
        margin-top: 15px;
        font-size: 14px;
    }
    #about-me, #skills, #portfolio, footer {
        padding: 40px 0;
    }
    h2 {
        font-size: 20px;
    }
    .about-me-title {
        margin-bottom: 25px;
    }
    #about-me .about-me-text {
        width: 100%;
        font-size: 12px;
    }
    #skills .skills-text {
        margin-top: 25px;
        margin-bottom: 35px;
        font-size: 14px;
    }
    #skills .my-skills {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
    }
    #skills .skill {
        font-size: 14px;
        margin-bottom: 20px;
    }
    #skills .skill-icon {
        margin-right: 0;
        margin-bottom: 5px;
    }
    #skills .skill-icon svg{
        width: 40px;
    }
    #portfolio .project {
        width: 100%;
        padding-top: 65%;
    }
    #portfolio .portfolio-title {
        margin-bottom: 10px;
    }
    #portfolio .project-text {
        font-size: 12px;
    }
    #portfolio .project:not(:last-child) {
        margin-bottom: 20px;
    }
    footer .contacts-title {
        margin-bottom: 15px;
    }
    footer .contacts-text {
        font-size: 14px;
        width: 280px;    
    }
    footer .contacts-btn {
        font-size: 12px;
    }
    footer .contacts-bottom-title {
        font-size: 12px;
    }
    footer .contacts-bottom-text {
        font-size: 12px;
    }
    footer .social-icon svg {
        width: 30px;
    }
    footer .socials {
        display: block;
    }
    footer .contacts-bottom {
        flex-flow: column wrap;
    }
    footer .contacts-bottom .email, .phone {
        margin-bottom: 10px;
    }
    footer .contacts-bottom-title {
        margin-bottom: 0;
    }
}