* {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    color:#fff;
}
h2 {
    font-size: 34px;
    font-weight: 600;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #112D32;    
}
.container {
    width: 90%;
    margin: 0 auto;
}
header {
    padding: 20px 0 30px 0;
    background-color: #112D3265;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
}
header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
header #logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
}
header nav {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    position: relative;
}
header ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}
header ul a {
    color: #fff;
    padding-bottom: 10px;
}
header ul a:hover {
    color: #4F4A41;
    border-bottom: 3px solid #4F4A41;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
header .swith-language a{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
}
header .swith-language a:hover {
    color: #4F4A41;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#main {
    padding: 170px 0 100px 0;
}
#main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#main .mz-photo {
    width: 40%;
    border-radius: 50%;
}
#main .person-info {
    width: 50%;
}
#main .name {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
}
#main .profession-text {
    font-size: 22px;
}
#main .info-text {
    margin-top: 20px;
    font-size: 18px;
}
#about-me {
    padding: 110px 0 120px 0;
    background-color:#0f313c;
}
#about-me .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.about-me-title {
    margin-bottom: 40px;
}
#about-me .about-me-text {
    width: 70%;
    margin: 0 auto;
    font-size: 22px;
    text-align: left;
}
#about-me .about-me-text p:not(:last-child) {
    margin-bottom: 25px;   
}
#skills {
    padding: 110px 0 120px 0;
}
#skills .container {
    text-align: center;
}
#skills .skills-text {
    margin-top: 40px;
    margin-bottom: 60px;
}
#skills .my-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#skills .skill {
    font-size: 22px;
    font-weight: 600; 
}
#skills .skill-icon {
    margin-right: 15px;
    margin-bottom: 15px;
}
#skills .skill svg {
    width: 70px;
    height: auto;
}
#skills .git-icon svg{
    fill: red;
}

#portfolio {
    padding: 110px 0 150px 0;
    background-color:#0f313c;
}
#position .container {
    position: relative;
}
#portfolio .portfolio-title {
    margin-bottom: 40px;
    text-align: center;
}
#portfolio .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#portfolio .project {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 45%; 
    width: 70%;
    text-align: center;
}
#portfolio .project-text {
    text-decoration: underline;
    font-size: 18px;
}
#portfolio .project-den-nov {
    background-image: url('img/denis_nov_img/den_nov_desktop.png');
}
#portfolio .project-plant-shop {
    background-image: url('img/plant_shop_img/plant_shop_desktop.png');
}
#portfolio .project-webovio {
    background-image: url('img/webovio/webovio.png');
}
 
footer {
    padding: 90px 0 95px 0;
}
footer .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer .contacts-title {
    margin-bottom: 50px;
}
footer .contacts-text {
    margin-bottom: 60px;
    text-align: center;
    width: 380px;
    font-size: 18px;
}
footer .contacts-btn {
    background: #4F4A41;
    padding: 15px 45px;
    border-radius: 50px;
    font-size: 18px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
footer .contacts-btn:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
footer .contacts-bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    padding: 20px 0 20px;
}
footer .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer .social-icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition:  .4s;
    -o-transition:  .4s;
    transition:  .4s;
}
footer .social-icon {
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
footer .social-icon svg{
    width: 30px;
    height: auto;
}
footer .contacts-bottom-title {
    margin-bottom: 5px;
    font-size: 18px;
}
footer .contacts-bottom-text {
    font-size: 18px;
    font-weight: 400;
}